body{
	font-family: sans-serif;
	background-color: #eee!important;
}
/* navbar */
.sidebar{
	height:100vh;
	background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.9)) ,url(../images/s.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 5px 7px 25px #999;
}
.brandBottomBorder{
	border-bottom: 1px groove #eee;
}
.sidebar-link:hover{
	background-color: #444;
	border-radius:20px;
}
.sidebar-link{
	transition:all .4s;
}
.search-input{
	background:transparent!important;
	border:none!important;
	border-radius: 0!important;
	border-bottom: 2px solid #999!important; 
	transition: all .4s; 
}
.top-navbar{
	/*box-shadow:5px 7px 25px #999;*/
}
.search-input:focus{
	background: transparent!important; 
	box-shadow: none!important;
	border-bottom: 2px solid #dc3545!important;
}
.search-button{
	border-radius:50%;
	padding:10px 16px;
}
.search-button:hover{
	background-color: #eee;
	transform:translate(-1px); 
}
.icon-parent{
position: relative;
}
.icon-bullet::after{
	content:"";
	position: absolute;
    top:7px;
	height:12px;
	width:12px;
	left: 7px;
	background-color: #f44336;
	border-radius: 50%;

}
@media (max-width: 768px){
	.sidebar{
		position: static!important;
		height: auto;
	}
	.top-navbar{
		position: static!important;
	}
}
/* end of navbar */
.card-border-sales{
	border-radius: 20px!important;
	border-left:6px solid #ffc107!important;
	box-shadow: 1px 2px 5px #999;
	transition: all .4s;
}
.card-border-users{
	border-radius: 20px!important;
	border-left:6px solid #007bff!important;
	box-shadow: 1px 2px 5px #999;
	transition: all .4s;
}
.card-border-expense{
	border-radius: 20px!important;
	border-left:6px solid #28a745!important;
	box-shadow: 1px 2px 5px #999;
	transition: all .4s;
}
.card-border-visitors{
	border-radius: 20px!important;
	border-left:6px solid #17a2b8!important; 
	box-shadow: 1px 2px 5px #999;
	transition: all .4s;
}
.crd:hover{
	box-shadow: 2px 3px 15px #999!important;
	transform: translate(-1px)!important;
	border-left: 6px solid #dc3545!important;
	color:#dc3545!important;
}
